<footer id="footer" class="m-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mb-2">
                <h4 class="mb-4">Ubicacion</h4>
                <p>
                    Consultorio Dental<br>
                    Calle Valparaiso #132, Fracc. Guadalupe<br>
                    Victoria de Durango, Dgo<br>
                    Telefono : 618-134-0790
                </p>
            </div>
            <div class="col-lg-3">
                <h4 class="mb-4">Horario</h4>
                <div class="info custom-info">
                    <span>Lun-Vie</span>
                    <span>9:30 am a 4:00 pm</span>
                </div>
                <div class="info custom-info">
                    <span>Sabado</span>
                    <span>11:30 am a 2:00 pm</span>
                </div>
                <div class="info custom-info">
                    <span>Domingo</span>
                    <span>Cerrado</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="contact-details">
                    <h4 class="mb-4">En caso de emergencia</h4>
                    <a class="text-decoration-none" href="tel:1234567890">
                        <strong class="font-weight-light">(618)134-0790</strong>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 ml-lg-auto">
                <h4 class="mb-4">Redes Sociales</h4>
                <ul class="social-icons">
                    <li class="social-icons-facebook">
                        <a href="http://www.facebook.com/" target="_blank" title="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="social-icons-twitter">
                        <a href="http://www.twitter.com/" target="_blank" title="Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="social-icons-linkedin">
                        <a href="http://www.linkedin.com/" target="_blank" title="Linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center m-0">
                    <p>© Copyright 2017. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>