<header id="header" class="header-narrow" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 40, 'stickySetTop': '-40px', 'stickyChangeLogo': false}">
    <div class="header-body">
        <div class="header-top header-top header-top-style-3 header-top-custom">
            <div class="container">
                <div class="header-row">
                    <div class="header-column justify-content-end">
                        <div class="header-row">
                            <nav class="header-nav-top float-right">
                                <ul class="nav nav-pills">
                                    <li class="d-none d-sm-block">
                                        <span class="ws-nowrap"><i class="icon-location-pin icons"></i> Calle Valparaiso #132,Fracc. Guadalupe</span>
                                    </li>
                                    <li class="d-none d-sm-block">
                                        <span class="ws-nowrap"><i class="icon-envelope-open icons"></i> <a class="text-decoration-none" href="mailto:mail@example.com">consultoriodentalgpe@hotmail.com</a></span>
                                    </li>
                                    <li>
                                        <span class="ws-nowrap"><i class="icon-call-out icons"></i> (618) 134-0790</span>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-container container" style="padding: 10px;">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo">
                            <a  href="/inicio">
                                <img alt="Logo" width="75" height="75" src="../../../assets/img/logos/dentist-logo.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-end">
                    <div class="header-row">
                        <div class="header-nav">
                            <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
                                <nav class="collapse">
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li class="">
                                            <a class="nav-link" href="/inicio">
                                                Inicio
                                            </a>
                                        </li>
                                        <li class="">
                                            <a class="nav-link" href="/servicios">
                                                Servicios
                                            </a>
                                        </li>
                                        <li class="">
                                            <a class="nav-link" href="/contacto">
                                                Contacto
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>